body {
  background-color: rgb(68, 68, 68);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.average-score {
  width: 292px;
  height: 50px;
  background: rgb(173, 173, 173);
  box-shadow: 5px 20px 50px #000;
  border-radius: 10px;
  margin-top: 10px;
  overflow:hidden;
  font-family: 'PT Sans', sans-serif;
  font-size:25px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-score {
  width: 292px;
  height: 50px;
  background: rgb(173, 173, 173);
  box-shadow: 5px 20px 50px #000;
  border-radius: 10px;
  margin-top: 10px;
  overflow:hidden;
  font-family: 'PT Sans', sans-serif;
  font-size:14px;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rvtitle {
  width: 700px;
  text-align: start;
}

.rvscore {
  width: 132px;
  text-align: end;
}

.login-wrapper {
  width: 350px;
  height: 500px;
  background:
    linear-gradient(45deg, rgb(151, 111, 216), rgb(182, 186, 243));
  box-shadow: 5px 20px 50px #000;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.review-page-wrapper {
  width: 1500px;
  height: 850px;
  background:
    linear-gradient(45deg, rgb(151, 111, 216), rgb(182, 186, 243));
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.review-game-info {
  width: 350px;
  height: 780px;
  background: rgb(68, 68, 68);
  box-shadow: inset 0px 0px 45px #000;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.review-form {
  width: 950px;
  height: 780px;
  background: rgb(68, 68, 68);
  box-shadow: inset 0px 0px 45px #000;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.game-page-wrapper {
  width: 1500px;
  height: 850px;
  background:
    linear-gradient(45deg, rgb(151, 111, 216), rgb(182, 186, 243));
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.game-info {
  width: 350px;
  height: 780px;
  background: rgb(68, 68, 68);
  box-shadow: inset 0px 0px 45px #000;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  gap: 1em;
}

.game-big {
  width: 292px;
  height: 380px;
  background: rgb(29, 29, 29);
  box-shadow: 5px 10px 20px #000;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 380px; 
  grid-template-columns: 292px;
}
.game-title {
  width: 292px;
  height: 75px;
  background: rgb(121, 121, 121);
  box-shadow: 5px 20px 50px #000;
  border-radius: 10px;
  margin-top: 10px;
  overflow:hidden;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size:28px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.library-img-big {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.button-space {
  width: 292px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: white;
  outline-style: solid;
  outline-width: 3px;
  outline-color: rgb(121, 121, 121);
  background: rgb(173, 173, 173);
  transition: 0.2s;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

.review-button:hover {
  width: 205px;
  height: 55px;
  font-size: 13px;
}

.game-reviews {
  width: 950px;
  height: 780px;
  background: rgb(68, 68, 68);
  box-shadow: inset 0px 0px 45px #000;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.reviews-header {
  width: 900px;
  height: 40px;
  background: rgb(121, 121, 121);
  box-shadow: 5px 20px 50px #000;
  border-radius: 10px;
  margin-top: 10px;
  overflow:hidden;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size:25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-wrapper {
  width: 900px;
  height: 700px;
  background: rgb(197, 197, 197);
  box-shadow: 5px 20px 50px #000;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.review-subwrapper {
  width: 890px;
  height: 680px;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-wrap: wrap;
}

.review-subwrapper::-webkit-scrollbar {
  width: 10px;
  
}

.review-subwrapper::-webkit-scrollbar-track {
  background: rgb(151, 151, 151);
  border-radius: 8px;
}

.review-subwrapper::-webkit-scrollbar-thumb {
  background: rgb(75, 75, 75);
  border-radius: 8px;
}

.review {
  background: rgb(41, 41, 41);
  width: 850px;
  height: 150px;
  margin-top:10px;
  margin-bottom:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px 10px 0px 0px;
}

.review-title-and-user {
  width: 830px;
  height: 30px;
  margin-top: 5px;
  display: flex;
  font-family: 'PT Sans', sans-serif;
  color:rgb(255, 255, 255);
}

.review-link:hover {
  text-decoration: underline;
}

.review-link {
  cursor: pointer;
}

.review-body-wrapper {
  background: white;
  width: 830px;
  height: 100px;
  border-radius: 10px;
  text-align: start;
}

.review-body {
  padding: 8px;
  font-family: 'PT Sans', sans-serif;
}

.no-review-message {
  font-family: 'Paytone One', sans-serif;
  font-size: 30px;
  background-color: rgb(66, 66, 66);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(207, 207, 207, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.dashboard-wrapper {
  width: 1500px;
  height: 850px;
  background:
    linear-gradient(45deg, rgb(151, 111, 216), rgb(182, 186, 243));
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.sidebar-wrapper {
  width: 350px;
  height: 780px;
  background: rgb(68, 68, 68);
  box-shadow: inset 0px 0px 45px #000;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.library-wrapper {
  width: 950px;
  height: 780px;
  background: rgb(68, 68, 68);
  box-shadow: inset 0px 0px 45px #000;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.search-wrapper {
  width: 900px;
  height: 470px;
  background: rgb(121, 121, 121);
  box-shadow: 5px 20px 50px #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input-space {
  width: 900px;
  height: 50px;
  display: flex;
  align-items: center;
}

.search-input {
  width: 200px;
  height: 30px;
  margin-left: 70px;
  border-radius: 20px;
  border:none;
  padding-left: 10px;
  font-family: 'PT Sans', sans-serif;
}

.search-results-wrapper {
  width: 800px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1em;
}

.no-results-wrapper {
  width: 840px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-header-one {
  font-family: 'Paytone One', sans-serif;
  font-size: 50px;
  background-color: rgb(27, 27, 27);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(119, 119, 119, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.trending-games-wrapper {
  width: 900px;
  height: 260px;
  background: rgb(197, 197, 197);
  box-shadow: 5px 20px 50px #000;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.trending-games-subwrapper {
  width: 800px;
  height: 220px;
  display: flex;
  gap:1em
}

.trending-header-one {
  font-family: 'Paytone One', sans-serif;
  font-size: 30px;
  background-color: rgb(66, 66, 66);
  color: transparent;
  text-shadow: 0px 2px 3px rgba(207, 207, 207, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.trending-header-space {
  margin-left:35px;
  display: flex;
}

.game {
  width: 146px;
  height: 190px;
  background: rgb(29, 29, 29);
  box-shadow: 5px 10px 20px #000;
  cursor: pointer;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 190px; 
  grid-template-columns: 146px;
}

.title-card {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
  background: rgb(71, 64, 77, 0);
  color: rgb(255, 255, 255, 0);
  transition: 0.2s;
}

.title-text {
  padding: 50px 5px 0px 5px;
  overflow:hidden;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size:18px
}

.title-card:hover {
  background: rgb(71, 64, 77, 0.9);
  color: rgb(255, 255, 255);
}

.library-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.library-img, .title-card {
  grid-row: 1/1;
  grid-column: 1/1;
}

.login-input {
  width: 60%;
  height: 20px;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.login-button {
  width: 50%;
  height: 30px;
  justify-content: center;
  margin: 10px auto;
  display: block;
  font-weight: bold;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-link {
  text-decoration: underline;
  cursor: pointer;
  color:blue;
}

.login-link:visited {
  color:blue;
}

.login-link:hover {
  color:rgb(226, 60, 0);
}

.login-link:active {
  color:rgb(226, 60, 0);
}

.error-message {
  color: rgb(141, 20, 20);
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}

.confirm-message {
  color: rgb(22, 53, 26);
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
}